
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 200px;
    position: relative;
    background-color: #9f9595;
}

.forest {
    width: 100%;
    display: flex;
    justify-content: center;
}

body p {
    font-size: 10px;
}

.container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container p {
    position: absolute;
    top: 45%;
    left: 20%;
}